s# Core Streamlit
streamlit

# Data handling
pandas
openpyxl        # untuk baca/tulis Excel
numpy

# Geospatial
geopandas
pyogrio         # alternatif ringan untuk membaca shapefile/geojson
shapely

# Mapping
folium
streamlit-folium
branca

# Visualization
plotly

# Optional utilities
python-dateutil
pytz
